<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "gumroad-clone" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="<% "h-full" if devise_controller? %>">
    <%= yield %>

    <!-- Global Notification live region, render this permanently in the end of the document --> 
    <div aria-live="assertive" 
         class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6"
         data-controller="notification"
    >
      <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
        <% flash.each do |type, data|  %>
          <%= render NotificationComponent.new(type: type, data: data) %>
        <% end %>
      </div>
    </div>
  </body>
</html>
